
body {
  font-family: $ff-main;
  line-height: 1;
}

img {max-width: 100%;}

p {
  margin: ($gutter * 1.5) 0;
}

strong {font-weight: 700;}

:focus {
   outline: dashed 1px rgba(0,0,0,0.3);
}

//*== HELPER ==*/

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.viewport {max-width: 1260px;}