/* ==========================================================================
  AUTHOR style for project
========================================================================== */

body {
    font-family: $ff-main;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

p {
    margin: ($gutter) 0;
   
}

a {
    color: inherit;
}

strong {
    @extend .fw-700
}

:focus {
    outline: dashed 1px rgba(0, 0, 0, 0.3);
}

//*== HELPER ==*/

.wrapper {
    max-width: 1366px;
    @extend .mgr-a, .mgl-a, .w-100, .pdl-xxl, .pdr-xxl;
}

.aside {
  width: 300px
}

.s-r {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}