/* ==========================================================================
  Value for gutter calculation
========================================================================== */

$gutter: 1rem; 

/* ==========================================================================
  MEDIA QUERIES and GRID SETTING
========================================================================== */

/* Here you set the value for breakpoints */

$breakpoints: (
    xs: rem(605px),
    sm: rem(768px),
    md: rem(1024px),
    lg: null
);

/* Here you set the value for grid */

$gridsetting: (
    base: (
        mq: null,
        columns: 12
    ),
    lg: (
        mq:  map-get($breakpoints, lg),
        columns: 12 
    ),
    md: (
        mq:  map-get($breakpoints, md),
        columns: 12
    ),
    sm: (
        mq:  map-get($breakpoints, sm),
        columns: 6
    ),
    xs: (
        mq:  map-get($breakpoints, xs),
        columns: 6
    )   
);


/* ==========================================================================
  FONT SIZE SCALE
========================================================================== */

$fs-xxxl: rem(40px);
$fs-xxl: rem(32px);
$fs-xl: rem(28px);
$fs-l: rem(24px); 
$fs-m: rem(21px); 
$fs-s: rem(18px); 
$fs-xs: rem(14px); 
$fs-xxs: rem(12px); 

/* ==========================================================================
  FONT FAMILY
========================================================================== */

$ff-main: 'Helvetica', sans-serif;
$ff-scd: 'Trebuchet', sans-serif;

/* ==========================================================================
  MARGIN & PADDING SCALE
========================================================================== */

$sides: (top, bottom, left, right);
$boxValues: (
    no: 0,
    xxs: $gutter * 0.5, // 8px
    xs: $gutter * 0.75,  // 12px
    s: $gutter, // 16px
    m: $gutter *  1.25, // 20px
    l: $gutter * 1.5, // 24px
    xl: $gutter * 1.75, // 28px
    xxl: $gutter * 2, // 32px
    xxxl: $gutter * 2.5 // 40px
);

/* ==========================================================================
  TEXT COLOR
========================================================================== */

$lightestTxtColor:#ffffff;
$lighterTxtColor:#eeeeee;
$lightTxtColor:#cecece;
$midTxtColor:#8c8c8c;
$darkTxtColor:#666666;
$darkerTxtColor:#444444;
$darkestTxtColor: #000000;

$mainTxtColor: #b2174d;
$ErrorTxtColor:#e0004a;

/* ==========================================================================
  BORDER COLOR
========================================================================== */

$lighterBorderColor: #eeeeee;
$lightBorderColor:#cecece;
$midBorderColor:#8c8c8c;
$darkBorderColor:#666666;
$darkerBorderColor:#444444;
$darkestBorderColor:#000000;

$mainBorderColor: #b2174d;


/* ==========================================================================
  BACKGROUND COLOR
========================================================================== */

$lightestBgColor:#ffffff;
$lighterBgColor:#eeeeee;
$lightBgColor:#cecece;
$midBgColor:#8c8c8c;
$darkBgColor:#666666;
$darkerBgColor:#444444;
$darkestBgColor:#000000;

$mainBgColor:#b2174d;

$warningBgColor:#e0004a;
$successBgColor:#32C832;

/* ==========================================================================
  FILL COLOR
========================================================================== */

$lightestFillColor:#ffffff;
$lighterFillColor:#eeeeee;
$lightFillColor:#cecece;
$midFillColor:#8c8c8c;
$darkFillColor:#666666;
$darkerFillColor:#444444;
$darkestFillColor:#000000;

$mainFillColor:#b2174d;


