/* ==========================================================================
  GENERATING THE GRID 
========================================================================== */

@each $name,
$value in $gridsetting {
    @if $name == base {
      
        @for $i from 1 through map-get($value, columns) {
            .col-#{$i} {
                flex-basis: 100% / map-get($value, columns) * $i;
                max-width: 100% / map-get($value, columns) * $i;
                padding-right: map-get($value, gap);
                padding-left: map-get($value, gap);

            }
        }
    } @else {
        @if map-get($value, mq) != null { 
            @media screen and (max-width: map-get($value, mq)) {
               
                @for $i from 1 through map-get($value, columns) {
                    .col-#{$name}-#{$i} {
                        flex-basis: 100% / map-get($value, columns) * $i;
                        max-width: 100% / map-get($value, columns) * $i;
                     
                    }
                }
            }
        }
    }
}

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -$gutter;
    margin-left: -$gutter;
}

[class^="col-"], .col {
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: $gutter;
    padding-left: $gutter;


}