@media screen and (max-width: $mq_md) {

    /* MARGIN */

    @each $name,
    $value in $boxValues {
        .m-#{$name}\@md {
            margin: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .m#{str-slice($side, 0, 1)}-#{$name}\@md {
                margin-#{$side}: $value;
            }
        }
    }

    /* PADDING */

    @each $name,
    $value in $boxValues {
        .p-#{$name}\@md {
            padding: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .p#{str-slice($side, 0, 1)}-#{$name}\@md {
                padding-#{$side}: $value;
            }
        }
    }

    // DISPLAY

    .d-n\@md {display: none;}
}

@media screen and (max-width: $mq_sm) {

    /* MARGIN */
    @each $name,
    $value in $boxValues {
        .m-#{$name}\@sm {
            margin: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .m#{str-slice($side, 0, 1)}-#{$name}\@sm {
                margin-#{$side}: $value;
            }
        }
    }

    /* PADDING */
    @each $name,
    $value in $boxValues {
        .p-#{$name}\@sm {
            padding: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .p#{str-slice($side, 0, 1)}-#{$name}\@sm {
                padding-#{$side}: $value;
            }
        }
    }

    // DISPLAY
    .d-n\@sm {display: none;}

    // TEXT
    .ta-c\@sm {text-align: center;}

    // WIDTH
    .w-100\@sm {width: 100%;}

    // FLEX
    .fd-c\@sm {flex-direction: column;}
    .jc-c\@sm {justify-content: center;}

}

@media screen and (max-width: $mq_xs) {

    /* MARGIN */
    @each $name,
    $value in $boxValues {
        .m-#{$name}\@xs {
            margin: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .m#{str-slice($side, 0, 1)}-#{$name}\@xs {
                margin-#{$side}: $value;
            }
        }
    }

    /* PADDING */
    @each $name,
    $value in $boxValues {
        .p-#{$name}\@xs {
            padding: $value;
        }
    }

    @each $side in $sides {

        @each $name,
        $value in $boxValues {
            .p#{str-slice($side, 0, 1)}-#{$name}\@xs {
                padding-#{$side}: $value;
            }
        }
    }

    // DISPLAY
    .d-n\@xs {display: none;
    }

    // WIDTH
    .w-100\@xs {width: 100%;}

    // FLEX
    .fd-c\@xs {flex-direction: column}

}