
// value for gutter calculation
$gutter: 1rem; 

// mq definition
$mq_md: rem(1024px); // 1024px mq for ajustment
$mq_sm: rem(768px); // 768px classic portrait
$mq_xs: rem(605px); // 605px take all the phone and and phablet

// font size scale


$fs-3xl: rem(40px);
$fs-xxl: rem(30px);
$fs-xl: rem(28px);
$fs-l: rem(24px); 
$fs-m: rem(21px); 
$fs-s: rem(18px); 
$fs-xs: rem(14px); 
$fs-xxs: rem(12px); 

// Font family setting

$ff-main: 'Helvetica', sans-serif;
$ff-scd: 'Helvetica', sans-serif;

// margin and padding value for rythm

$sides: (top, bottom, left, right);

$boxValues: (
	no: 0,
  	xxs: $gutter * 0.5, // 8px
	xs: $gutter * 0.75,  // 12px
	s: $gutter, // 16px
	m: $gutter *  1.25, // 20px
	l: $gutter * 1.5, // 24px
	xl: $gutter * 1.75, // 28px
	xxl: $gutter * 2, // 32px
	3xl: $gutter * 2.5 // 40px
);


// text color palette

$lightestColor:#ffffff;
$lighterColor:#f5f5f5;
$lightColor:#eeeeee;
$midColor:#666666;
$darkColor:#333333;
$darkestColor: #000000;

$mainColor: #F16E00;


// border-color palette

$lighterBorderColor: #f5f5f5;
$lightBorderColor:#dddddd;
$midBorderColor:#cccccc;
$darkBorderColor:#666666;
$darkestBorderColor:#000000;

$mainBorderColor: #F16E00;

// background-color palette

$mainLightBgColor:#ff8c00;
$mainBgColor:#F16E00;

$lightestBgColor:#ffffff;
$lighterBgColor:#f5f5f5;
$lightBgColor:#eeeeee;
$midBgColor:#dddddd;
$darkBgColor:#999;
$darkestBgColor:#000000;

$warningBgColor:#CD3C14;
$successBgColor:#32C832;

$InfoColor:#527edb;
$WarningColor:#eeeeee;
$ErrorColor:#ffc9bf;

