/* ==========================================================================
 	AUTHOR CSS
   ========================================================================== */

/**
	All about module, OOCSS (like buttons), semantic, pseudo-selector targeting etc...
	Overide component CSS from plugin ect...
	The less you write here the better the app is ^^
**/

body {font-size:100%; /* a reduire si besoin pour MQ*/}

a{color:inherit} /*avoid blue anchor...*/

p{
	margin: 2rem 0;
	font-size: 1.125em;
	line-height: 1.4
}

body,
p{
	color:#4A4A4A;
	font-family: 'open sans';
}

p:first-child{margin-top:0}

/* === HELPERS === */

.viewport{max-width: 1240px}

/* === OOCS === */

.social-ico{ /* basic object to be extend with skin CSS class (but it can be full atomic too...) */
    height: 40px;
    width: 40px;
}

.fb-b{border: 1px solid #435595}
.twitter-b{border: 1px solid #3B9DCE}
.gplus-b{border: 1px solid #D6433A}
.mail-b{border: 1px solid #333333}

/* === CUSTOM === */

.warn-anchor:hover{ /*semantic class for red color on hover  */
	color: #e20024;
	transition : color 0.25s ease;
	-webkit-transition : color 0.25s ease;
}

#aside{
	width:395px;
	float:right;
}

.col-190{
	width:190px;
}
