/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/**

  mq class name are based on suffixing exisiting width classes such as .w-50, with:
  @<device>-<size>

  .w-50@t-m means : width: 50% for tablet medium;
  medium is referencing the mq associated with it (below it's associated with 768px)

  You can extend with other class such as display none: d-n@t-m, so the element will be hidden
  from the 768px mq.
  You can use a semantic class too if the element allows it.

**/

/**

  @t-l : 1024 : standard ipad or desktop;
  @t-m : 768 : small tablet or portrait ipad;
  @t-s : 600 : smallest tablet;

**/
@media screen and (max-width: 1024px) {

    .d-n\@t-l{display:none}
    .w-100\@t-l{ width: 100%;float:none}
}

@media screen and (max-width: 768px) {

  .w-5\@t-m{ width: 5%}
  .w-10\@t-m{ width: 10%}
  .w-15\@t-m{ width: 15%}
  .w-20\@t-m{ width: 20%}
  .w-25\@t-m{ width: 25%}
  .w-30\@t-m{ width: 30%}
  .w-33\@t-m{ width: 33.333%}
  .w-40\@t-m{ width: 40%}
  .w-45\@t-m{ width: 45%}
  .w-50\@t-m{ width: 50%}
  .w-55\@t-m{ width: 55%}
  .w-60\@t-m{ width: 60%}
  .w-66\@t-m{ width: 66.666%}
  .w-70\@t-m{ width: 70%}
  .w-75\@t-m{ width: 75%}
  .w-80\@t-m{ width: 80%}
  .w-85\@t-m{ width: 85%}
  .w-90\@t-m{ width: 90%}
  .w-95\@t-m{ width: 95%}
  .w-100\@t-m{ width: 100%;float:none}

  .d-n\@t-m{display:none}

}


/**
  @m-l : 480 : larger phone or smallest phablet, landscape mobile;
  @m-m : 375 iphone 6;
  @m-s : 320 iphone 6-;
**/

@media screen and (max-width: 480px) { /* m-l */

  .w-5\@m-l{ width: 5%}
  .w-10\@m-l{ width: 10%}
  .w-15\@m-l{ width: 15%}
  .w-20\@m-l{ width: 20%}
  .w-25\@m-l{ width: 25%}
  .w-30\@m-l{ width: 30%}
  .w-33\@m-l{ width: 33.333%}
  .w-40\@m-l{ width: 40%}
  .w-45\@m-l{ width: 45%}
  .w-50\@m-l{ width: 50%}
  .w-55\@m-l{ width: 55%}
  .w-60\@m-l{ width: 60%}
  .w-66\@m-l{ width: 66.666%}
  .w-70\@m-l{ width: 70%}
  .w-75\@m-l{ width: 75%}
  .w-80\@m-l{ width: 80%}
  .w-85\@m-l{ width: 85%}
  .w-90\@m-l{ width: 90%}
  .w-95\@m-l{ width: 95%}
  .w-100\@m-l{ width: 100%;float:none}

}