$c-selection:#BCD0FF;

/*FONT-SIZE*/

$fs-xxxl: 3em;
$fs-xxl: 2.625em;
$fs-xl: 1.675em;
$fs-l: 1.125em;
$fs-m: 1em;
$fs-s: 0.937em;
$fs-xs: 0.875em;
$fs-xxs: 0.75em;

/* COLOR */

$pure-white : #fff;
$pure-black: #000000;

$light-grey: #D8D7D6;
$mid-grey: #4a4a4a;
$dark-grey:#3a3a3a;

$red: #E20024;
$green: #00c834;
$pale-blue: #BCD0FF;
$blue-fb:#435595;
$blue-twitter: #3b9dce;
$red-gplus:#d6433a;
$black-mail:#333333;


/* BORDER RADIUS */

$radius-s:5px;

/*border values */

$border-s: 1px;
$border-m : 2px;
$border-l : 3px
