
/* ==========================================================================
	ATOMIC CUSTOM
========================================================================== */

/**
	All the atomic classes you need in addition to the core classes
	for example a class for border-bottom with light color (bb-light)...
	whatever suits your needs.

	There's also classes that exposes variable like colors, size etc...
	that you can customize for your project
**/

/* ===  FLEXBOX MODULE === */

  /* As flexbox is particular layouting, I use 'flex',
  in order to simplify reading html classes */


  .d-f{
     display: -webkit-flex;
     display: flex;
  }

  /*FLEX-DIRECTION*/

  .fd-r{
    flex-direction:row;
    -webkit-flex-direction:row;
  }

  .fd-rr{
    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
  }

  .fd-c{
    flex-direction:column;
    -webkit-flex-direction:column;
  }

  .fd-cr{
    flex-direction:column-reverse;
    -webkit-flex-direction:column-reverse;
  }

  /*== FLEX WRAP (whether items wrap to the next row
  only applies if combined width of items is greater than container's) ==*/

  .fw-nw{
    flex-wrap:nowrap;
    -webkit-flex-wrap:nowrap;

  }

  .fw-w{
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
  }

  .fw-wr{
    flex-wrap:wrap-reverse;
    -webkit-flex-wrap:wrap-reverse;
  }

  /*==JUSTIFY CONTENT (X-axis)==*/

  .jc-c{
    justify-content: center;
    -webkit-justify-content: center;
  }
  .jc-fs{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .jc-fe{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .jc-sa{
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .jc-sb{
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }

  /*==ALIGN CONTENT (only applies if there is more than one row of items)==*/

  .ac-s{
    align-content: stretch;
    -webkit-align-content: stretch;
  }
  .ac-c{
    align-content: center;
    -webkit-align-content: center;
  }
  .ac-fs{
    align-content: flex-start;
    -webkit-align-content: flex-start;
  }
  .ac-fe{
    align-content: flex-end;
    -webkit-align-content: flex-end;
  }
  .ac-sa{
    align-content: space-around;
    -webkit-align-content: space-around;
  }
  .ac-sb{
    align-content: space-between;
    -webkit-align-content: space-between;
  }

  /*== ALIGN ITEMS (Y-axis)== */

  .ai-s{
    align-items: stretch;
    -webkit-align-items: stretch;
  }
  .ai-c{
    align-items: center;
    -webkit-align-items: center;
  }
  .ai-bs{
    align-items: baseline;
    -webkit-align-items: baseline;
  }
  .ai-fs{
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .ai-fe{
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }

  /* ===  FLEXBOX CHILDS === */

  /*Flex-grow*/

  .fg-0{
    flex-grow:0;
    -webkit-flew-grow:0;
  }

  .fg-1{
    flex-grow:1;
    -webkit-flew-grow:1;
  }

  .fg-2{
    flex-grow:2;
    -webkit-flew-grow:2;
  }

  .fg-3{
    flex-grow:3;
    -webkit-flew-grow:3;
  }

  .fs-0{
    flex-shrink:0;
    -webkit-flew-shrink:0;
  }

  /*Flex-Shrink*/

  .fs-1{
    flex-shrink:1;
    -webkit-flew-shrink:1;
  }

  .fs-2{
    flex-shrink:2;
    -webkit-flew-shrink:2;
  }

  .fs-3{
    flex-shrink:3;
    -webkit-flew-shrink:3;
  }

/*== FLEX BASIS (flex-direction is row: flex-basis controls width.
flex-direction is column: flex-basis controls height.) ==*/

.fb-50{
  flex-basis:50%;
  -webkit-flex-basis:50%;
}

.fb-col50{
  flex-basis:50px;
  -webkit-flex-basis:50px;
}

/* === FONT-SIZE  === */

.fs-xxxl{font-size: 3em}
.fs-xxl{font-size: 2.625em}
.fs-xl{font-size: 1.675em}
.fs-l{font-size: 1.125em}
.fs-m{font-size:1em}
.fs-s{font-size: 0.975em}
.fs-xs{font-size: 0.875em}
.fs-xxs{font-size:0.75em}

/* ===  FONT FAMILY  === */

  /*trigramme font name*/

  .ff-ari{font-family: 'arial', sans-serif}
  .ff-ope{font-family: 'Open Sans', sans-serif}

/* === COLOR  === */

.c-lighter{color: #fff}
.c-light{color: #D8D7D6}
.c-mid{color: #4a4a4a}
.c-dark{color: #3a3a3a}
.c-darker{color: #000}

.c-warn{color: #E20024}
.c-ok{color: #00c834}

/* === BORDERS === */

.bb-light{border-bottom: 1px solid #D8D7D6}
.br-light{border-right: 1px solid #D8D7D6}
.bl-light{border-left: 1px solid #D8D7D6}
.bt-light{border-bottom: 1px solid #D8D7D6}

.bb-mid{border-bottom: 1px solid #4a4a4a}
.bt-mid{border-bottom: 1px solid #4a4a4a}

/* === RADIUS === */

.btrr-s{border-top-right-radius:5px}
.btlr-s{border-top-left-radius:5px}
.btbr-s{border-top-bottom-radius:5px}
.bttr-s{border-top-top-radius:5px}

.br-s{border-radius:5px}

/* === BG COLOR  === */

.bgc-lighter{background-color: #fff}
.bgc-light{background-color: #D8D7D6}
.bgc-mid{background-color: #4a4a4a}
.bgc-dark{background-color: #3a3a3a}
.bgc-darker{background-color: #000}

.bgc-warn{background-color: #E20024}
.bgc-ok{background-color: #00c834}

/* ===  LINE-HEIGHT   === */

.lh-1{line-height: 1}
.lh-1h{line-height:1.5}
.lh-2{line-height:2}

/* === Helpers  === */

.m-auto{margin-left: auto; margin-right: auto}

    .vc-t:before,
    .vc-m:before,
    .vc-b:before{
      content:'';
      display: inline-block;
      height:100%;
    }

  .vc-t:before{vertical-align: top}
  .vc-m:before{vertical-align: middle}
  .vc-b:before{vertical-align: bottom;}


.col-395{width:395px}
.col-190{width:190px}


