
/* ==========================================================================
	ATOMIC CUSTOM
========================================================================== */

/**
	All the atomic classes you need in addition to the core classes
	for example a class for border-bottom with light color (bb-light)...
	whatever suits your needs.

	There's also classes that exposes variable like colors, size etc...
	that you can customize for your project
**/


/* === FONT-SIZE  === */

.fs-3{font-size: 3rem}
.fs-2c6{font-size: 2.625rem}
.fs-1c6{font-size: 1.675rem}
.fs-1c1{font-size: 1.125rem}
.fs-1{font-size:1rem}
.fs-0c9{font-size: 0.975rem}
.fs-c0c8{font-size: 0.875rem}
.fs-0c7{font-size:0.75rem}

/* ===  FONT FAMILY  === */

  /*trigramme font name change it to suit your need*/

  .ff-ari{font-family: 'arial', sans-serif}
  .ff-ope{font-family: 'Open Sans', sans-serif}

/* === COLOR  === */

/*Custom it with sass var, you can go mid-dark, main-dar, main-darker etc for extra nuance*/

.c-lighter{color: #fff}
.c-light{color: #D8D7D6}
.c-mid{color: #4a4a4a}
.c-dark{color: #3a3a3a}
.c-darker{color: #000}

.c-warn{color: #E20024}
.c-ok{color: #00c834}

/* === BORDERS === */

.bb-light-1{border-bottom: 1px solid #D8D7D6}
.bt-light-1{border-bottom: 1px solid #D8D7D6}

.bb-mid-1{border-bottom: 1px solid #4a4a4a}
.bt-mid-1{border-bottom: 1px solid #4a4a4a}

/* === RADIUS === */

.btrr-5{border-top-right-radius:5px}
.btlr-5{border-top-left-radius:5px}
.btbr-5{border-top-bottom-radius:5px}
.bttr-5{border-top-top-radius:5px}
.br-5{border-radius:5px}

.br-50{border-radius: 50%}

/* === BG COLOR  === */

.bgc-lighter{background-color: #fff}
.bgc-light{background-color: #D8D7D6}
.bgc-mid{background-color: #4a4a4a}
.bgc-dark{background-color: #3a3a3a}
.bgc-darker{background-color: #000}

.bgc-warn{background-color: #E20024}
.bgc-ok{background-color: #00c834}

/* ===  LINE-HEIGHT   === */

.lh-1{line-height: 1}
.lh-1c5{line-height:1.5}
.lh-2{line-height:2}

/* ===  HELPERS  === */

.tty-n50{transform:translateY(-50%);}
.ttx-n50{transform:translateX(-50%);}

/* activation de l'accélération matérielle */

.ttz-0 {transform: translateZ(0);}
.m-auto{margin-left: auto; margin-right: auto;}
