/* ==========================================================================
  Convert PX to REM
========================================================================== */

$rem: true !default;
$base_font_size: 16px !default;

@function toRem($value) {
    $remValue: calc($value / $base-font-size) + rem; 
    @return $remValue;
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    
    @if $index {
      @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    
    @return $string;
  }
/* ==========================================================================
  mixin for using media queries
========================================================================== */

@mixin max-width($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        (+ "Please make sure it is defined in `$breakpoints` map.");
    }
}
@mixin min-width($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        (+"Please make sure it is defined in `$breakpoints` map.");
    }
}
