// grid

.viewport {
    max-width: $viewport;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: calc(2 * $gutter);
    padding-left: calc(2 * $gutter);
}

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: calc(-1 * $gutter);
    margin-left: calc(-1 * $gutter);
}

@mixin create-selectors($breakpoint: null) {
    $infix: if($breakpoint == null, "", "-#{$breakpoint}");
    @for $i from 1 through $gridCols {
        .col#{$infix}-#{$i} {
            flex: 0 0 auto;
            width: calc($i / $gridCols * 100%);
            padding-right: calc($gutter);
            padding-left: calc($gutter);
        }
    }
}

@include create-selectors;

@each $breakpoint, $width in $breakpoints {
    @media (max-width: $width) {
        @include create-selectors($breakpoint);
    }
}
