/* ==========================================================================
  Value for gutter calculation
========================================================================== */

$gridCols: 12;
$gutter: toRem(12px);
$viewport: toRem(1364px);
$viewport-wide: calc(toRem(1680px) + (4 * $gutter));

// required: don't edit !

$sides: (top, bottom, left, right);
$logicalSides: (inline, block);


/* ==========================================================================
  MEDIA QUERIES and GRID SETTING
========================================================================== */

/* Here you set the value for breakpoints */

$breakpoints: (
    "xl": toRem(1360px),
    "lg": toRem(1240px),
    "md": toRem(1024px),
    "sm": toRem(768px),
    "xs": toRem(605px),
);


/* ==========================================================================
  FONT SIZE SCALE
========================================================================== */

$fontValues: (
    "3xl": toRem(48px),
    "2xl": toRem(32px),
    "xl": toRem(28px),
    "l": toRem(20px),
    "m": toRem(18px),
    "s": toRem(15px),
    "xs": toRem(14px),
    "2xs": toRem(13px),
    "3xs": toRem(12px),
    "4xs": toRem(11px),
);


/* ==========================================================================
  FONT FAMILY
========================================================================== */

$ff-main: "Helvetica";
$ff-scd: "Arial";

/* ==========================================================================
  MARGIN & PADDING SCALE
========================================================================== */

$boxValues: (
    "no": 0,
    "xxxs": calc($gutter * 0.25),
    // 3px
    "xxs": calc($gutter * 0.5),
    // 6px
    "xs": calc($gutter * 0.75),
    // 9px
    "s": calc($gutter),
    // 12px
    "m": calc($gutter * 1.5),
    // 18px
    "l": calc($gutter * 2),
    // 24px
    "xl": calc($gutter * 2.5),
    // 30px
    "xxl": calc($gutter * 3),
    // 36px
    "xxxl": calc($gutter * 3.5) // 42px,
);

/* ==========================================================================
 COLOR and BACKGROUND
========================================================================== */

$colorValues: (
    "codgray": #1a1a1a,
    "crimson": #ed1e39,
    "supernova": #ffc800,
    "wildsand": #f6f4f4,
    "shark": #25272c,
    "tuna": #333640,
    "abbey": #515357,
    "olsogray": #929395,
    "silver": #cccccc,
    "mercury": #e8e8e8,
    "westar": #e3e1d8,
    "castle": #f4f8fa,
    "white": #ffffff,
    "geraldine": #f68e9c,
    "kournikova": #ffdf6c,
    "malachite": #02c14e,
    "fungreen": #006d2c,
    "harp": #e2f0e7,
    "torea": #0e2db6,
    "snuff": #e4e2f0,
    "indochine": #bd6600,
    "barley": #fff4ca,
    "monza": #ca001a,
    "vanilla": #f7e6e8,
);
